name: Publish Python Package

on:
  release:
    types: [created]  # Déclenche la publication lorsqu'un tag de release est créé

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Publish with custom action
        uses: ./.github/actions/publish-pypi
        with:
          twine-password: ${{ secrets.PYPI_API_TOKEN }}
          repository-url: https://test.pypi.org/legacy/